.headerOne {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color:	#50C878;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	height: 100px;
	width: 100%;
	z-index: 4;
	margin: 0;
	padding: 0;
}

@media (max-width: 570px) {
	.headerOne {
		overflow: hidden;
		height: 50px;
	}
}

.mobile-bars {
	visibility: hidden;
	left: 10px;
	width: 8%;
	position: absolute;
	cursor: pointer;
}

@media (max-width: 1250px) {
	.headerOne {
		height: 75px;
	}
	.mobile-bars {
		visibility: visible;
	}
}

.mobileMenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 275px;
	width: 100%;
	transition: .3s;
	z-index: 3;
}

.mobileMenuFirstRow {
	width: 100%;
	height: 75px;
	background-color: #303030;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	display: flex;
	align-items: end;
	justify-content: center;
	color: white;
}

.mobileMenuRow {
	width: 100%;
	height: 50px;
	background-color: #303030;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
	transition: color 0.2s;
}

.mobileMenuRow:hover {
	color: #D5ABDD;
}

.header-instagram-logo {
	width: 30px;
	cursor: pointer;
	margin-bottom: 10px;
}

@media (max-width: 500px) {

}

.header-logo {
	position: absolute;
	left: 15%;
	top: 15%;
	width: 120px;
	z-index: 5;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@media (max-width: 1250px) {
	.header-logo {
		left: 15%;
		top: 15%;
		width: 90px;
	}
}

@media (max-width: 570px) {
	.header-logo {
		width: 60px;
		top: 7px;
		left: 44%;
	}
}

.header-nav-button {
	padding: 20px;
	cursor: pointer;
	transition: .2s;
	color: #803945;
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
	text-shadow: 2px 2px 4px #803945;
	letter-spacing: 1.5px;
}

@media (max-width: 1250px) {
	.header-nav-button {
		visibility: hidden;
	}
}

.header-order-button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	height: 45%;
	right: 3%;
	border: solid;
	border-width: 2px;
	background-color: #803945;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	transition: .2s;
	font-size: 1.4vw;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.header-order-button:hover {
	color: #ce93d8;
}

.header-nav-button:hover {
	color: white;
}