.shows-slider {
  margin-left: 0px;
  margin-top: -25px;
}

.slider-case {
  width: 100%;
  height: 500px;
}

.right-arrow {
	opacity: 1;
  	top: 45%;
  	right: 10px;
	position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 2px 2px 0px;
	z-index: 1;
  	cursor: pointer;
}

.left-arrow {
	opacity: 1;
  	left: 10px;
  	top: 45%;
	position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 2px 2px 0px;
	z-index: 1;
  	cursor: pointer;
}

.left-arrow:only-child {
  width: 20px;
}

.left-arrow img {
  width: 30px;
}

.right-arrow img {
  width: 30px;
}